.calc__container {
    display: flex;
    gap: var(--gap);
}

.calc__content {
    width: var(--width-block);
    padding: 50px;
    background: var(--white);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.calc__fieldset {
    display: flex;
    gap: 10px;
    margin-bottom: 32px;
}

.calc__fieldset.rate__fieldset {
    margin-bottom: 65px;
}

.cal__label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calc__text {
    font-size: 12px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 2px;
}

.fieldset__legend.calc__text {
    margin-bottom: 16px;
}

.calc__input {
    width: inherit;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 15px 25px;
    outline: none;
    color: inherit;
}

.calc__input:focus {
    border: 1px solid var(--yellow);
}

.calc__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.fieldset__legend {
    margin-bottom: 16px;
}

.calc__radiolabel {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;
}

.calc__radiolabel:hover {
    cursor: pointer;
}

.calc__radiolabel:last-child {
    margin-right: 0;
}

.calc__radio {
    position: absolute;
    appearance: none;
}

.calc__box {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-flex;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    transition: all .2s ease-in-out;
}

.calc__box:after {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    display: none;
    background: var(--dark);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calc__radio:checked + .calc__box {
    border: 1px solid var(--yellow);
}

.calc__radio:checked + .calc__box:after {
    display: block;
}

.calc__radiotext {
    text-transform: uppercase;
}

.calc__btn:hover {
    cursor: pointer;
}

.calc__total {
    display: flex;
    width: var(--width-block);
    background: url("../img/total.jpg") no-repeat center/cover;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 50px;
}

.calc__result {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
    background: #fff;
    padding: 24px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.calc__result-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.calc__text {
    margin-bottom: 0;
    flex-grow: 1;
}

.calc__result-count {
    justify-self: flex-end;
}

@media (max-width: 1240px) {
    .calc__content,
    .calc__total {
        padding: 30px;
    }

    .calc__fieldset {
        margin-bottom: 24px;
    }

    .calc__fieldset.rate__fieldset {
        margin-bottom: 34px;
    }

}

@media (max-width: 920px) {
    .calc__content,
    .calc__total {
        padding: 24px;
    }

    .calc__container {
        flex-direction: column;
    }

    .calc__content {
        width: 100%;
        padding: 30px;
    }

    .calc__input {
        padding: 6px 16px;
    }

    .calc__radiotext {
        font-size: 14px;
    }

    .fieldset__legend.calc__text {
        margin-bottom: 8px;
    }

    .calc__total {
        width: 100%;
        min-height: 220px;
        background-position: 50% 75%;
    }

    .calc__result {
        margin-top: unset;
        margin-bottom: auto;
    }

    .calc__btn {
        padding: 10px 24px;
        font-size: 14px;
    }
}

@media (max-width: 560px) {
    .calc__content,
    .calc__total {
        padding: 20px;
        min-height: auto;
    }

    .size__fieldset,
    .rate__fieldset {
        flex-direction: column;
    }

    .calc__result {
        margin: auto;
        padding: 16px;
        gap: 8px;
    }

    .calc__text,
    .calc__result-count {
        white-space: nowrap;
    }
}

/*8:20*/
