.footer__container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
        'logo social contacts'
        'copyright . develops';
    gap: 40px 126px;
    border-top: 2px solid var(--white);
    padding-top: 50px;
}

.footer__logo {
    display: block;
    grid-area: logo;
    width: 162px;
    height: 40px;
    background: url("data:image/svg+xml,%3Csvg width='165' height='45' viewBox='0 0 165 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.75 22.5C33.75 28.7132 28.7132 33.75 22.5 33.75C16.2868 33.75 11.25 28.7132 11.25 22.5C11.25 16.2868 16.2868 11.25 22.5 11.25C28.7132 11.25 33.75 16.2868 33.75 22.5Z' fill='%23FFC700'/%3E%3Cpath d='M23.9062 7.03125C23.9062 7.8079 23.2767 8.4375 22.5 8.4375C21.7233 8.4375 21.0938 7.8079 21.0938 7.03125C21.0938 6.2546 21.7233 5.625 22.5 5.625C23.2767 5.625 23.9062 6.2546 23.9062 7.03125Z' fill='%23FFC700'/%3E%3Cpath d='M23.9062 37.9688C23.9062 38.7454 23.2767 39.375 22.5 39.375C21.7233 39.375 21.0938 38.7454 21.0938 37.9688C21.0938 37.1921 21.7233 36.5625 22.5 36.5625C23.2767 36.5625 23.9062 37.1921 23.9062 37.9688Z' fill='%23FFC700'/%3E%3Cpath d='M37.9688 23.9062C37.1921 23.9062 36.5625 23.2767 36.5625 22.5C36.5625 21.7233 37.1921 21.0937 37.9688 21.0938C38.7454 21.0938 39.375 21.7233 39.375 22.5C39.375 23.2767 38.7454 23.9063 37.9688 23.9062Z' fill='%23FFC700'/%3E%3Cpath d='M7.03125 23.9062C6.2546 23.9062 5.625 23.2767 5.625 22.5C5.625 21.7233 6.2546 21.0937 7.03125 21.0938C7.8079 21.0938 8.4375 21.7233 8.4375 22.5C8.4375 23.2767 7.8079 23.9063 7.03125 23.9062Z' fill='%23FFC700'/%3E%3Cpath d='M34.4324 12.5563C33.8832 13.1055 32.9929 13.1055 32.4437 12.5563C31.8945 12.0071 31.8945 11.1168 32.4437 10.5676C32.9929 10.0184 33.8832 10.0184 34.4324 10.5676C34.9816 11.1168 34.9816 12.0071 34.4324 12.5563Z' fill='%23FFC700'/%3E%3Cpath d='M12.5563 34.4324C12.0071 34.9816 11.1167 34.9816 10.5676 34.4324C10.0184 33.8833 10.0184 32.9929 10.5676 32.4437C11.1167 31.8945 12.0071 31.8945 12.5563 32.4437C13.1055 32.9929 13.1055 33.8833 12.5563 34.4324Z' fill='%23FFC700'/%3E%3Cpath d='M32.4437 34.4323C31.8945 33.8831 31.8945 32.9927 32.4437 32.4435C32.9929 31.8944 33.8832 31.8944 34.4324 32.4435C34.9816 32.9927 34.9816 33.8831 34.4324 34.4323C33.8832 34.9815 32.9929 34.9815 32.4437 34.4323Z' fill='%23FFC700'/%3E%3Cpath d='M10.5676 12.5562C10.0184 12.007 10.0184 11.1166 10.5676 10.5674C11.1167 10.0183 12.0071 10.0183 12.5563 10.5674C13.1055 11.1166 13.1055 12.007 12.5563 12.5562C12.0071 13.1053 11.1167 13.1053 10.5676 12.5562Z' fill='%23FFC700'/%3E%3Cpath d='M47 17.5255V16.1654H56.4787V17.5255H52.5045V28.8269H50.9741V17.5255H47Z' fill='black'/%3E%3Cpath d='M58.8406 28.8269V16.1654H66.468V17.5255H60.3711V21.8037H66.0731V23.1638H60.3711V27.4668H66.5668V28.8269H58.8406Z' fill='black'/%3E%3Cpath d='M78.6805 16.1654V28.8269H77.1501V17.5255H70.7816V28.8269H69.2511V16.1654H78.6805Z' fill='black'/%3E%3Cpath d='M80.6814 28.8269V27.4173H81.0517C81.5783 27.4173 81.9876 27.2483 82.2797 26.9104C82.5718 26.5724 82.7816 26.0263 82.9092 25.272C83.0408 24.5178 83.1293 23.5183 83.1745 22.2736L83.3967 16.1654H91.0981V28.8269H89.5677V17.5255H84.853L84.6555 22.5703C84.6062 23.8975 84.4848 25.0268 84.2915 25.9583C84.0981 26.8897 83.7587 27.6007 83.2732 28.0912C82.7878 28.5817 82.0802 28.8269 81.1504 28.8269H80.6814Z' fill='black'/%3E%3Cpath d='M95.2913 21.4822H98.8952C99.8003 21.4822 100.563 21.6306 101.185 21.9274C101.81 22.2241 102.283 22.6425 102.604 23.1824C102.929 23.7223 103.091 24.3591 103.091 25.0927C103.091 25.8264 102.929 26.4735 102.604 27.034C102.283 27.5945 101.81 28.0335 101.185 28.3509C100.563 28.6682 99.8003 28.8269 98.8952 28.8269H94.1558V16.1654H95.6862V27.4915H98.8952C99.4711 27.4915 99.9586 27.3761 100.358 27.1453C100.761 26.9104 101.065 26.6095 101.271 26.2427C101.481 25.8717 101.586 25.4802 101.586 25.068C101.586 24.4621 101.353 23.9408 100.888 23.5039C100.424 23.0629 99.7591 22.8423 98.8952 22.8423H95.2913V21.4822ZM105.856 16.1654V28.8269H104.326V16.1654H105.856Z' fill='black'/%3E%3Cpath d='M108.92 16.1654H110.426V26.1314H110.549L117.461 16.1654H118.942V28.8269H117.411V18.8856H117.288L110.401 28.8269H108.92V16.1654ZM115.14 13H116.498C116.498 13.6677 116.268 14.2138 115.807 14.6383C115.346 15.0629 114.721 15.2751 113.931 15.2751C113.153 15.2751 112.534 15.0629 112.073 14.6383C111.617 14.2138 111.388 13.6677 111.388 13H112.746C112.746 13.3215 112.834 13.6038 113.011 13.847C113.192 14.0902 113.499 14.2117 113.931 14.2117C114.363 14.2117 114.671 14.0902 114.857 13.847C115.046 13.6038 115.14 13.3215 115.14 13Z' fill='black'/%3E%3Cpath d='M136.346 16.1654V28.8269H134.815V17.5255H128.447V28.8269H126.916V16.1654H136.346Z' fill='black'/%3E%3Cpath d='M150.096 22.4961C150.096 23.8315 149.855 24.9856 149.374 25.9583C148.893 26.931 148.232 27.6811 147.393 28.2087C146.554 28.7362 145.595 29 144.518 29C143.44 29 142.481 28.7362 141.642 28.2087C140.803 27.6811 140.142 26.931 139.661 25.9583C139.18 24.9856 138.939 23.8315 138.939 22.4961C138.939 21.1607 139.18 20.0067 139.661 19.034C140.142 18.0613 140.803 17.3112 141.642 16.7836C142.481 16.2561 143.44 15.9923 144.518 15.9923C145.595 15.9923 146.554 16.2561 147.393 16.7836C148.232 17.3112 148.893 18.0613 149.374 19.034C149.855 20.0067 150.096 21.1607 150.096 22.4961ZM148.615 22.4961C148.615 21.3998 148.432 20.4745 148.066 19.7202C147.704 18.966 147.212 18.3952 146.591 18.0077C145.974 17.6203 145.283 17.4266 144.518 17.4266C143.752 17.4266 143.059 17.6203 142.438 18.0077C141.821 18.3952 141.329 18.966 140.963 19.7202C140.601 20.4745 140.42 21.3998 140.42 22.4961C140.42 23.5925 140.601 24.5178 140.963 25.272C141.329 26.0263 141.821 26.5971 142.438 26.9845C143.059 27.372 143.752 27.5657 144.518 27.5657C145.283 27.5657 145.974 27.372 146.591 26.9845C147.212 26.5971 147.704 26.0263 148.066 25.272C148.432 24.5178 148.615 23.5925 148.615 22.4961Z' fill='black'/%3E%3Cpath d='M151.583 28.8269V27.4173H151.954C152.48 27.4173 152.89 27.2483 153.182 26.9104C153.474 26.5724 153.684 26.0263 153.811 25.272C153.943 24.5178 154.031 23.5183 154.076 22.2736L154.299 16.1654H162V28.8269H160.47V17.5255H155.755L155.557 22.5703C155.508 23.8975 155.387 25.0268 155.193 25.9583C155 26.8897 154.661 27.6007 154.175 28.0912C153.69 28.5817 152.982 28.8269 152.052 28.8269H151.583Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center;
}

.footer__social {
    grid-area: social;
    justify-self: flex-end;
    padding-top: 8px;
}

.footer__list {
    display: flex;
    align-items: baseline;
    gap: 24px;
    list-style: none;
}

.footer__link {
    display: block;
    width: 24px;
    height: 24px;
    text-decoration: none;
    color: inherit;
}

.footer__youtube {
    background: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0767 2.99805C13.0853 2.99806 13.0945 2.99809 13.1043 2.99811L13.2105 2.99844C14.4432 3.00297 20.6909 3.04826 22.3754 3.50112C23.408 3.77809 24.2212 4.59432 24.4972 5.63042C24.6491 6.19966 24.755 6.95626 24.8288 7.73439L24.8431 7.89026C24.8547 8.0203 24.8655 8.15064 24.8754 8.2805L24.8869 8.43605C24.9855 9.80721 24.997 11.0903 24.9984 11.371L24.9985 11.4089C24.9985 11.412 24.9985 11.4171 24.9985 11.4171V11.4383C24.9985 11.4383 24.9985 11.4434 24.9985 11.4465L24.9984 11.4844C24.997 11.7757 24.9846 13.1466 24.8754 14.575L24.8631 14.731L24.85 14.8872C24.7757 15.7461 24.6643 16.5989 24.4972 17.225C24.2212 18.2611 23.408 19.0775 22.3754 19.3543C20.6347 19.8224 14.0216 19.8552 13.1043 19.8575L13.0337 19.8577C13.0279 19.8577 13.0228 19.8577 13.0184 19.8577L12.9896 19.8577C12.9896 19.8577 12.983 19.8577 12.9786 19.8577L12.8927 19.8575C12.4291 19.8564 10.5108 19.8474 8.50194 19.7784L8.2451 19.7693C8.20225 19.7677 8.15938 19.7661 8.11651 19.7645L7.85937 19.7543L7.60282 19.7434C5.93856 19.6704 4.35178 19.5506 3.62184 19.3543C2.5892 19.0775 1.77606 18.2611 1.50007 17.225C1.33287 16.5989 1.2214 15.7461 1.14709 14.8872L1.13399 14.731L1.12167 14.575C1.01636 13.1985 1.00107 11.8755 0.998847 11.5204L0.998582 11.4696C0.998564 11.465 0.998548 11.4608 0.998535 11.4569V11.3985C0.998548 11.3946 0.998564 11.3904 0.998582 11.3859L0.998847 11.335C1.00086 11.0134 1.01359 9.898 1.09421 8.66787L1.10464 8.51356C1.10644 8.48776 1.10827 8.46192 1.11013 8.43605L1.12167 8.2805C1.13161 8.15064 1.14235 8.0203 1.15395 7.89026L1.16829 7.73439C1.24213 6.95626 1.34807 6.19966 1.50007 5.63042C1.77606 4.59432 2.5892 3.77809 3.62184 3.50112C4.35178 3.30488 5.93856 3.18517 7.60282 3.11215L7.85937 3.10128L8.11651 3.09112C8.15938 3.08949 8.20225 3.08788 8.2451 3.0863L8.50194 3.07717C10.3826 3.01261 12.1839 3.00066 12.7865 2.99844L12.8927 2.99811C12.9026 2.99809 12.9118 2.99806 12.9203 2.99805H13.0767ZM10.5986 7.81484V15.0406L16.8337 11.4279L10.5986 7.81484Z' fill='%23232020'/%3E%3C/svg%3E%0A") no-repeat center;
}

.footer__vk {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12ZM12.4301 8.85898C11.2629 9.34445 8.9302 10.3492 5.43195 11.8734C4.86389 12.0993 4.56632 12.3203 4.53923 12.5363C4.49345 12.9015 4.95077 13.0453 5.57354 13.2412C5.65825 13.2678 5.74602 13.2954 5.836 13.3247C6.4487 13.5238 7.27289 13.7568 7.70135 13.7661C8.09 13.7745 8.52379 13.6142 9.0027 13.2854C12.2712 11.0791 13.9584 9.96386 14.0644 9.93982C14.1391 9.92286 14.2427 9.90153 14.3128 9.9639C14.383 10.0263 14.3761 10.1444 14.3687 10.1761C14.3234 10.3692 12.5282 12.0381 11.5992 12.9018C11.3096 13.1711 11.1041 13.3621 11.0621 13.4057C10.9681 13.5034 10.8722 13.5958 10.78 13.6846C10.2108 14.2334 9.78397 14.6449 10.8037 15.3168C11.2937 15.6397 11.6858 15.9068 12.077 16.1732C12.5042 16.4641 12.9303 16.7543 13.4817 17.1157C13.6221 17.2078 13.7563 17.3034 13.8869 17.3966C14.3841 17.751 14.8308 18.0694 15.3826 18.0187C15.7033 17.9892 16.0345 17.6876 16.2027 16.7884C16.6003 14.6632 17.3817 10.0585 17.5623 8.16103C17.5781 7.99479 17.5582 7.78203 17.5422 7.68863C17.5262 7.59524 17.4928 7.46217 17.3714 7.36366C17.2277 7.247 17.0057 7.2224 16.9064 7.22414C16.4551 7.2321 15.7626 7.47288 12.4301 8.85898Z' fill='%23232020'/%3E%3C/svg%3E%0A") no-repeat center;
}

.footer__contacts {
    grid-area: contacts;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    list-style: none;
}

.footer__contacts > .footer__item > .footer__link {
    display: flex;
    width: auto;
    align-items: center;
    gap: 8px;
}

.footer__phone {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.35597 2.63884C5.28361 1.7112 6.81437 1.8065 7.61979 2.84204L9.86192 5.72478C10.2734 6.2538 10.4188 6.94261 10.2562 7.59278L9.57215 10.3291C9.49993 10.618 9.58457 10.9236 9.79513 11.1342L12.8659 14.2049C13.0764 14.4154 13.382 14.5001 13.6709 14.4279L16.4072 13.7438C17.0574 13.5812 17.7462 13.7266 18.2752 14.1381L21.158 16.3802C22.1935 17.1856 22.2888 18.7164 21.3612 19.644L20.0688 20.9364C19.1441 21.8611 17.7611 22.2671 16.4722 21.814C13.2719 20.6888 10.268 18.8468 7.71061 16.2894C5.15324 13.732 3.31119 10.7281 2.18605 7.52781C1.7329 6.2389 2.13891 4.8559 3.06356 3.93125L4.35597 2.63884Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center;
}

.footer__mail {
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3C1.57234 3 0.377595 3.99726 0.0743781 5.33316L12 12.621L23.9256 5.33316C23.6224 3.99725 22.4277 3 21 3H3Z' fill='black'/%3E%3Cpath d='M0 17.7009V7.04563L8.70479 12.3652L0 17.7009Z' fill='black'/%3E%3Cpath d='M10.1421 13.2436L0.287807 19.2838C0.768906 20.2984 1.80252 21 3 21H12.3841C12.1353 20.2962 12 19.5389 12 18.75C12 16.6754 12.9359 14.8194 14.4086 13.5811L13.8579 13.2436L12 14.379L10.1421 13.2436Z' fill='black'/%3E%3Cpath d='M24 14.507V7.04563L15.2952 12.3652L15.8022 12.676C16.6929 12.2429 17.6931 12 18.75 12C20.8704 12 22.7625 12.9778 24 14.507Z' fill='black'/%3E%3Cpath d='M23.7508 18.3663C23.7508 20.1174 22.8851 21.4029 21.3701 21.4029C20.6159 21.4029 19.8682 21.0618 19.6911 20.4322H19.6255C19.4485 21.0553 18.8123 21.3963 18.104 21.3963C16.9497 21.3963 16.2152 20.5831 16.2152 19.2452V18.4516C16.2152 17.1858 16.9366 16.3529 18.104 16.3529C18.9828 16.3529 19.4091 16.8513 19.5337 17.2973H19.5796V16.4447H20.9372V19.7305C20.9372 20.1371 21.2061 20.3601 21.5537 20.3601C22.0259 20.3601 22.5112 19.737 22.5112 18.2745V18.0974C22.5112 16.1824 21.0881 14.6084 18.7861 14.6084H18.727C16.3529 14.6084 14.7658 16.2086 14.7658 18.6943V18.9304C14.7658 21.7308 16.6218 22.9113 18.6221 22.9113H18.6877C19.4485 22.9113 20.0912 22.8064 20.4585 22.6424V23.7377C20.1305 23.8885 19.4944 24 18.6024 24H18.5368C15.6577 24 13.5 22.2292 13.5 18.9697V18.6483C13.5 15.5397 15.6315 13.5 18.727 13.5H18.7795C21.9603 13.5 23.7508 15.6446 23.7508 18.0515V18.3663ZM17.6908 18.6811V19.0222C17.6908 19.901 18.0319 20.2224 18.5631 20.2224C19.0287 20.2224 19.4091 19.9666 19.4091 19.1074V18.5565C19.4091 17.7826 18.9959 17.4941 18.55 17.4941C18.0319 17.4941 17.6908 17.8613 17.6908 18.6811Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center;
}

.footer__copyright {
    grid-area: copyright;
    color: inherit;
    line-height: 150%;
    margin: 0;
}

.footer__develops {
    grid-area: develops;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    color: inherit;
    line-height: 150%;
}

@media (max-width: 1240px) {
    .footer__container {
        padding-top: 30px;
        gap: 40px 86px;
    }
}

@media (max-width: 920px) {
    .footer__container {
        gap: 40px 74px;
        font-size: 14px;
    }

    .footer__logo {
        width: 124px;
        height: 29px;
        background-size: 124px;
    }

    .footer__social {
        gap: 8px;
    }
}

@media (max-width: 560px) {
    .footer__container {
        padding-top: 20px;
        grid-template-columns: 1fr;
        grid-template-areas:
        'logo'
        'social'
        'contacts'
        'develops'
        'copyright';
        gap: 24px;
    }

    .footer__social {
        justify-self: flex-start;
    }
}
