.hero {
    --width-slide: 590px;
    --height-slide: 530px;
    --width-block: calc(50% - 10px);
    --gap: 10px;
    padding-top: 0;
    overflow: hidden;
}

.hero__container {
    position: relative;
    display: flex;
    gap: var(--gap);
    height: var(--height-slide);
}

.hero__content {
    display: flex;
    flex-direction: column;
    width: var(--width-block);
    padding: 50px;
    background: var(--white);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.hero__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.hero__desc {
    text-transform: uppercase;
}

.hero__link {
    margin-top: auto;
    align-self: flex-start;
}

.hero__slider-block {
    position: absolute;
    left: calc(var(--width-block) + var(--gap) / 2);
    width: calc(((var(--width-block) + var(--gap)) * 2) - var(--gap));
}

.hero__slider {

}

.hero__slider-wrapper {
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
}

.hero__image {
    width: var(--width-slide);
    height: var(--height-slide);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.hero__slider-btns {
    position: absolute;
    display: flex;
    gap: 8px;
    bottom: 50px;
    left: calc(var(--width-slide) - 50px);
    transform: translateX(-100%);
    z-index: 1;
}

.hero__slider-btn {
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
}

.hero__slider-btn.swiper-button-disabled {
    filter: opacity(.6);
}

.hero__slider-btn_prev {
    background: var(--yellow) url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13L1 7L7 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 7H1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
}

.hero__slider-btn_next {
    background: var(--yellow) url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 13L1 7L7 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 7H1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
    transform: rotate(180deg);
}

.hero__slider-btn:hover {
    cursor: pointer;
}
