@import "normalize.css";

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 500;
    src: url('../fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic_latin-500.woff') format('woff');
}

:root {
    --dark: #232020;
    --white: #F8F8F8;
    --gray: #898989;
    --yellow: #FFC700;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: Inter, sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

@media (max-width: 375px) {
    .container {
        padding: 0 24px;
    }
}