@import "normalize.css";

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-weight: 500;
    src: url('../fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'),
    url('../fonts/inter-v12-cyrillic_latin-500.woff') format('woff');
}

:root {
    --dark: #232020;
    --white: #F8F8F8;
    --gray: #898989;
    --yellow: #FFC700;
    --width-slide: 590px;
    --width-block: calc(50% - 10px);
    --gap: 10px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: Inter, sans-serif;
    color: var(--dark);
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

h1, h2, h3, h4, p {
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.link {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 18px 40px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--dark);
    border-radius: 24px;
    background: var(--yellow);
    border: none;
}

.button:disabled {
    background: #E0E0E0;
    color: var(--gray);
    cursor: not-allowed;
}

.section-offset {
    padding: 40px 0;
}

.filling {
    width: 100%;
    height: 100%;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

@media (max-width: 1240px) {
    .container {
        max-width: 890px;
    }

    .section-offset {
        padding: 30px 0;
    }

    .title {
        font-size: 34px;
        margin-bottom: 24px;
    }
}

@media (max-width: 920px) {
    .container {
        max-width: 690px;
        padding: 0 30px;
    }

    .title {
        margin-bottom: 16px;
    }
}

@media (max-width: 560px) {
    .container {
        padding: 0 6px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .button {
        font-size: 12px;
        padding: 10px 24px;
    }
}
